
{% load static %}
{% include 'header.html' %}

<style>

.bringer-page-title{
    font-size: 50px;
}


@media only screen and (max-width: 600px) {
    .bringer-page-title{
        font-size: 30px;
    }
}


</style>


    <!-- Page Main -->
    <main id="bringer-main">
        <div class="stg-container">
            <!-- Hero Section -->
            <section class="backlight-bottom">
                <div class="bringer-hero-block bringer-hero-type03">
                    <!-- Main Row -->
                    <div class="bringer-hero-title-wrap">
                        <!-- Title -->
                        <h1  class="bringer-page-title" data-split-appear="fade-up" data-split-delay="100" data-split-by="line" data-split-unload="fade-up">Bring Your Creative Ideas into Reality with PythonCoding4U</h1>
                        <!-- Additional Media -->
                        <div class="stg-m-hide" data-appear="fade-left" data-unload="fade-right">
                            <img class="bringer-lazy" src="{% static 'img/pythoncoding.jpg' %}" data-src="{% static 'img/pythoncoding.jpg' %}" alt="pythoncoding" width="550" height="316">
                        </div>
                    </div>

                    <!-- Masked Media Container -->
                    <div class="bringer-hero-media-wrap bringer-masked-block">
                        <!-- Masked Media -->


                    <style>
                        .video-background {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                        
                        }


                    </style>


                     <!-- Masked Media -->

                     

                    <div id="video-container" class="bringer-hero-media bringer-masked-media" data-appear="fade-right" data-unload="fade-left" data-delay="150" data-threshold="0">
                        <iframe id="youtube-video" width="100%" height="112.5%" src="https://www.youtube.com/embed/sJTWbyqFrNo?autoplay=1&loop=1&playlist=sJTWbyqFrNo&controls=0&showinfo=0&autohide=1&modestbranding=1&mute=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                        <img id="fallback-poster" src="{% static 'img/home/home03-hero2.jpg' %}" alt="Pythoncoding Fallback Poster" style=" width: 100%; height: 100%; position: absolute; top: 0; left: 0;">

                        
                    </div>
                    
                    <div class="video-background"></div>
                        
                        


                        <!-- <div class="bringer-hero-media bringer-masked-media" data-appear="fade-right" data-unload="fade-left" data-delay="150" data-threshold="0">
                            <video src="{% static 'video/video.mp4' %}" poster="{% static 'img/home/home03-hero2.jpg' %}" playsinline muted loop autoplay></video>
                        </div> -->



                        <!-- Content -->
                        <div class="bringer-hero-media-content bringer-masked-content at-top-right">
                            <div class="bringer-hero-media-content-inner m-align-center" data-appear="fade-left" data-unload="fade-right" data-delay="100" data-threshold="0">
                                Your one-stop solution for web development, e-commerce, AI/ML projects, mobile app development, and student project assistance.
                            </div>
                        </div>

                        <!-- Tags List -->
                        <ul class="bringer-tags-list" data-unload="fade-left" data-delay="150">

                            {% for i in services %}

                            <li data-appear="fade-up" data-delay="400">
                                <a href="/services/{{i.slug}}">{{i.service_name}}</a>
                            </li>

                            {% endfor %}

                            <!-- <li data-appear="fade-up" data-delay="450">
                                <a href="#">E-Commerce Development</a>
                            </li>
                            <li data-appear="fade-up" data-delay="200">
                                <a href="#">AI/ML Projects</a>
                            </li>
                            <li data-appear="fade-up" data-delay="250">
                                <a href="#">Mobile App Development</a>
                            </li>
                            <li data-appear="fade-up" data-delay="300">
                                <a href="#">Major/Minor Projects</a>
                            </li> -->



                        </ul>
                    </div>
                </div><!-- .bringer-hero-block -->
            </section>

            <!-- Section: About -->
            <section class="divider-bottom">
                <div class="stg-row stg-large-gap stg-m-normal-gap">
                    <div class="stg-col-6 stg-tp-bottom-gap-l stg-m-bottom-gap">
                        <div class="bringer-parallax-media" data-appear="fade-right" data-unload="fade-left">
                            <img src="{% static '/img/about.jpg' %}" data-src="{% static '/img/about.jpg' %}" alt="About Us" class="bringer-lazy" width="960" height="960">
                        </div>
                    </div>
                    <div class="stg-col-6 stg-vertical-space-between" data-appear="fade-left" data-unload="fade-right">
                        <div>
                            <h2 style="font-size: 40px;">About PythonCoding4U</h2>
                            <p class="bringer-large-text">We are a passionate team of designers and developers who believe in the power of creativity.</p>
                            <p>PythonCoding4U is a premier technology solutions provider dedicated to helping businesses and individuals achieve their digital goals. Our expertise spans web development, e-commerce solutions, artificial intelligence, machine learning projects, and mobile app development. We also offer specialized services for college students, assisting them with their minor and major projects. Our team of skilled professionals brings extensive experience and technical prowess to each project, ensuring we exceed our clients' expectations.</p>
                            <p>We believe in a client-centric approach, working closely with our clients to understand their unique needs and challenges. From initial consultation and strategic planning to development, deployment, and ongoing maintenance, we provide end-to-end support. Quality, innovation, and customer satisfaction are the cornerstones of our business. Join the growing number of businesses and individuals who trust PythonCoding4U for their digital needs. Let us help you harness technology to achieve your goals and transform your ideas into reality.</p>

                        </div>
                        <a href="{% url 'about' %}" class="bringer-icon-link" data-appear="fade-left">
                            <div class="bringer-icon-wrap">
                                <i class="bringer-icon bringer-icon-explore"></i>
                            </div>
                            <div class="bringer-icon-link-content">
                                <h6>
                                    We are
                                    <br>
                                    Passionate Team
                                </h6>
                                <span class="bringer-label">Learn More About Us</span>
                            </div>
                        </a><!-- .bringer-icon-link -->
                    </div>
                </div><!-- .stg-row -->
            </section>

            <!-- Section: Services -->
            <section>
                <div class="stg-row">
                    <div class="stg-col-4 stg-tp-bottom-gap-l" data-unload="fade-left">
                        <div class="bringer-sticky-block">
                            <h2 style="font-size: 40px;">Our Services</h2>
                            <p class="bringer-large-text">We offer a wide range of creative services to help businesses of all sizes achieve their goals.</p>
                            <div class="align-right">
                                <a href="{% url 'services' %}" class="bringer-arrow-link">Discover all Services</a>
                            </div>
                        </div>
                    </div>
                    <div class="stg-col-8">
                        <div id="service-view" class="bringer-grid-2cols" data-stagger-appear="zoom-in" data-stagger-unload="zoom-out" data-threshold="0.5" data-stagger-delay="150">
                            <!-- Price Card -->
                            {% for i in services %}

                                <div class="bringer-price-card-item bringer-block">
                                    <div class="bringer-price-card-title">
                                        <h3 style="font-size: 30px;">{{i.service_name}}<span class="bringer-accent">.</span></h3>
                                        <p>{{i.meta_description}}</p>
                                    </div>
                                    <div class="bringer-price-card-footer">
                                        <a href="/services/{{i.slug}}" class="bringer-button is-fullwidth">Discover Details</a>
                                    </div>
                                </div>

                            {% endfor %}


                        </div><!-- .bringer-grid -->
                    </div>
                </div>
            </section>

            <!-- Section: Marquee -->
            <section class="is-fullwidth is-stretched" data-padding="none">
                <div class="bringer-marquee" data-speed="5000">
                    <div class="bringer-marquee-inner">
                        <ul class="bringer-marquee-list">
                            <li>
                                <h6 style="font-size: 40px;">Web Development</h6>
                            </li>
                            <li>
                                <h6 style="font-size: 40px;">E-Commerce Development</h6>
                            </li> 
                            <li>
                                <h6 style="font-size: 40px;">AI/ML Projects</h6>
                            </li>
                            <li>
                                <h6 style="font-size: 40px;">Mobile App Development</h6>
                            </li>
                            <li>
                                <h6 style="font-size: 40px;">Major/Minor Projects</h6>
                            </li>
                        </ul>
                    </div><!-- .bringer-marquee-inner -->
                </div><!-- .bringer-marquee -->
            </section>

            <!-- Section: Why Choose Us -->
            <section>
                <div class="stg-row stg-large-gap">
                    <div class="stg-col-6 stg-tp-bottom-gap-l" data-unload="fade-left">
                        <div class="bringer-sticky-block">
                            <h2>Why Choose PythonCoding4U?</h2>
                            <p class="bringer-large-text">We are a passionate team of designers and developers who believe in the power of creativity. We help creative professionals create a strong online presence that showcases their work and tells their story.</p>
                            <div class="align-right">
                                <a href="{% url 'about' %}" class="bringer-arrow-link">Learn More About Us</a>
                            </div>
                        </div>
                    </div>
                    <div class="stg-col-6">
                        <div class="bringer-grid-1col stg-normal-gap" data-stagger-appear="zoom-in" data-stagger-unload="zoom-out" data-threshold="0.5" data-stagger-delay="150">
                            <!-- Card Item -->
                            <div class="bringer-block">
                                <h4>Expertise and <span class="bringer-accent">Experience</span> <span class="bringer-accent">.</span></h4>
                                <p>Our team of skilled professionals excels in web development, e-commerce solutions, AI/ML projects, mobile app development, and student project assistance. We stay updated with the latest industry trends to deliver top-notch solutions.</p>
                            </div><!-- .bringer-block -->
                            <!-- Card Item -->
                            <div class="bringer-block">
                                <h4>Comprehensive <span class="bringer-accent">Services</span><span class="bringer-accent">.</span></h4>
                                <p>We offer a wide range of services, including websites, e-commerce platforms, mobile apps, and AI/ML projects. We also support college students with their minor and major projects.</p>
                            </div><!-- .bringer-block -->
                                                        
                            <!-- Card Item -->
                            <div class="bringer-block">
                                <h4>Customized <span class="bringer-accent">Solutions </span><span class="bringer-accent">.</span></h4>
                                <p>We tailor our solutions to meet your specific needs, ensuring every project is unique and personalized.</p>
                            </div><!-- .bringer-block -->
                                                        
                            <!-- Card Item -->
                            <div class="bringer-block">
                                <h4>Quality <span class="bringer-accent">Assurance</span><span class="bringer-accent">.</span></h4>
                                <p>We adhere to best practices and rigorous quality assurance to deliver projects that meet the highest standards.</p>
                            </div><!-- .bringer-block -->

                            <!-- Card Item -->
                            <div class="bringer-block">
                                <h4>Timely <span class="bringer-accent">Delivery</span><span class="bringer-accent">.</span></h4>
                                <p>Our efficient project management ensures timely completion of your project without compromising on quality.</p>
                            </div><!-- .bringer-block -->



                        </div><!-- .bringer-grid -->
                    </div>
                </div>
            </section>

            <!-- Section: Counters -->
            <section data-padding="none">
                <div class="bringer-grid-4cols bringer-tp-grid-2cols bringer-m-grid-2cols stg-m-small-gap" data-stagger-appear="zoom-in" data-stagger-unload="zoom-out">
                    <!-- Counter Item -->
                    <div class="bringer-counter bringer-block" data-delay="3000">
                        <div class="bringer-counter-number" data-suffix="+">20</div>
                        <div class="bringer-counter-label">Happy Customers</div>
                    </div><!-- .bringer-counter -->
                    <!-- Counter Item -->
                    <div class="bringer-counter bringer-block" data-delay="3000">
                        <div class="bringer-counter-number" data-suffix="+">30</div>
                        <div class="bringer-counter-label">Complated Projects</div>
                    </div><!-- .bringer-counter -->
                    <!-- Counter Item -->
                    <div class="bringer-counter bringer-block" data-delay="3000">
                        <div class="bringer-counter-number" data-suffix="">5</div>
                        <div class="bringer-counter-label">Awwwards Won</div>
                    </div><!-- .bringer-counter -->
                    <!-- Counter Item -->
                    <div class="bringer-counter bringer-block is-accented" data-delay="3000">
                        <div class="bringer-counter-number" data-suffix="+">5</div>
                        <div class="bringer-counter-label">Years of Experience</div>
                    </div><!-- .bringer-counter -->
                </div><!-- .bringer-grid -->
            </section>

            <!-- Section: Portfolio -->
            <section>
                <div class="stg-row stg-large-gap">
                    <div class="stg-col-6 stg-tp-bottom-gap-l" data-unload="fade-left">
                        <div class="bringer-sticky-block">
                            <h2>Our Projects</h2>
                            <p class="bringer-large-text">We are proud of our work, and we are always looking for new challenges. Take a look at some of our recent creative portfolio works.</p>
                            <div class="align-right">
                                <a href="{% url 'projects' %}" class="bringer-arrow-link">Explore Our Projects</a>
                            </div>
                        </div>
                    </div>
                    <div class="stg-col-6">
                        <div id="project-container" class="bringer-grid-1col bringer-tp-grid-2cols stg-normal-gap bringer-parallax-media" data-stagger-appear="fade-left" data-stagger-unload="fade-right" data-threshold="0.25" data-stagger-delay="100">

                            {% for i in projects %}

                            <div class="bringer-block bringer-portfolio-card">
                            <div class="bringer-portfolio-card-image">
                            <img class="bringer-lazy" src="{{i.image_one.url}}" data-src="{{i.image_one.url}}" alt="" width="1200" height="1200">
                            </div>
                            <div class="bringer-portfolio-card-footer">
                            <div class="bringer-portfolio-card-title">
                            <span class="bringer-meta">{{i.category}}</span>
                                <h6>{{i.meta_title}}</h6>
                                <p> {{i.meta_description}}</p>

                                <span class="bringer-icon bringer-icon-explore">
                               
                                </span>

                            </div>
                              
                                </div>
                               <a href="projects/{{i.slug}}"></a>
                              

                            {% endfor %}
                         

                        </div><!-- .bringer-grid -->
                    </div>
                </div>
            </section>

            <!-- Section: Testimonials -->
            <section class="backlight-top">
                <div class="bringer-expand-on-scroll">
                    <img src="{% static 'img/home/testimonials01.jpg' %}" alt="Testimonials" data-unload="fade-up">
                </div><!-- .bringer-expand-on-scroll -->
                <div class="stg-row stg-large-gap stg-top-gap-l">
                    <div class="stg-col-6 stg-tp-bottom-gap-l" data-unload="fade-left">
                        <div class="bringer-sticky-block">
                            <h2>What Clients Say</h2>
                            <p class="bringer-large-text">Our collaboration with Pythoncoding4u was outstanding...</p>
                            <div class="align-right">
                                <a href="#" class="bringer-arrow-link">Read all Testimonials</a>
                            </div>
                        </div>
                    </div>


                    <div class="stg-col-6">
                        <div class="bringer-grid-1col stg-normal-gap" id="testimonial-container">


                            {% for i in testmonials %}

                            <div class="bringer-block bringer-tetimonials-card" data-appear="zoom-out" data-unload="fade-right" data-threshold="0.75">
                            <div class="bringer-tetimonials-card-descr">
                            "{{i.feedback}}"
                            </div>
                            <div class="bringer-tetimonials-card-footer">
                            <div class="bringer-tetimonials-card-name">
                            <h6>{{i.name}}</h6>
                            <span class="bringer-meta">{{i.designation}}</span>
                            </div>
                            <div class="bringer-tetimonials-card-rate">
                            <span class="bringer-tetimonials-stars{{i.rating}}"></span>
                            </div>
                            </div>
                            </div><!-- .bringer-tetimonials-card -->

                            {% endfor %}




                            <!-- testmonials comming from ajax calling.... -->

                        </div><!-- .bringer-grid -->
                    </div>
                </div><!-- .stg-row -->
            </section>

            <!-- Section: CTA -->
            <section data-padding="bottom">
                <div class="bringer-masked-cta bringer-masked-block" data-unload="fade-down">
                    <form  method="post" data-fill-error="Please, fill out the form." class="bringer-contact-form is-short bringer-masked-media" data-appear="fade-up">
                        <div class="bringer-form-content bringer-cta-form">
                            <div class="bringer-cta-form-content" data-appear="fade-up" data-delay="100">
                                <div class="bringer-cta-title"><h2 style="font-size: 38px;">Ready to Connect with PythonCoding4U?</h2></div>
                                <input type="none" id="subscribe_email" name="subscribe_email" placeholder="+91 8603862290" required>
                            </div>
                            <div class="bringer-cta-form-button" data-appear="fade-up" data-delay="200">
                                <!-- <button >
                                    <span class="bringer-icon bringer-icon-arrow-submit"></span>
                                </button> -->
                            </div>
                            <div class="bringer-contact-form__response"></div>
                        </div>
                        <span class="bringer-form-spinner"></span>
                    </form>
                    <div class="bringer-masked-cta-content bringer-masked-content at-top-right">
                        <p class="bringer-large-text" data-appear="fade-down">Let's craft a visual identity that ignites passion and loyalty. ✨</p>
                    </div>
                </div>
            </section>

        </div>
        
        <!-- .stg-container -->


        {% include 'footer.html' %}



        <script>
            document.addEventListener("DOMContentLoaded", function() {
            var video = document.getElementById("youtube-video");
            var fallbackPoster = document.getElementById("fallback-poster");
            var hasPlayed = false;

            var checkVideoPlaying = function() {
                if (video.contentWindow) {
                    var message = {
                        event: "listening"
                    };
                    video.contentWindow.postMessage(JSON.stringify(message), "*");

                    window.addEventListener("message", function(event) {
                        var data = JSON.parse(event.data);
                        if (data.event === "infoDelivery" && data.info && data.info.playerState === 1) {
                            hasPlayed = true;
                        }
                    });
                }

                setTimeout(function() {
                    if (!hasPlayed) {
                        video.style.display = "block";
                        fallbackPoster.style.display = "none";
                    }
                }, 1000); 
            };

            checkVideoPlaying();
        });

        </script>



        <script>
            // $(document).ready(function() {});

                // URL of the service list API
                // var apiUrl = "{% url 'serviceapi' %}";
        
                // Function to create the service list item HTML
                // function createServiceListItem(service) {
                //     return `

                //         <div class="bringer-price-card-item bringer-block">
                //                 <div class="bringer-price-card-title">
                //                     <h5>${service.service_name}<span class="bringer-accent">.</span></h5>
                //                     <p>${service.meta_description}</p>
                //                 </div>
                //                 <div class="bringer-price-card-footer">
                //                     <a href="/services/${service.slug}" class="bringer-button is-fullwidth">Discover Details</a>
                //                 </div>
                //             </div>
                //     `;
                // }

                // // AJAX call to fetch the service data
                // $.ajax({
                //     url: apiUrl,
                //     type: 'GET',
                //     dataType: 'json',
                //     success: function(services) {
                //         var serviceList = $('#service-view');
                //         serviceList.empty(); // Clear any existing content
                //         services.forEach(function(service) {
                //             serviceList.append(createServiceListItem(service));
                //         });
                //     },
                //     error: function(xhr, status, error) {
                //         console.error('Failed to fetch services:', error);
                //     }
                // });









                //project get request ajax call

                // $.ajax({
                //     url: "{% url 'project-list' %}",
                //     method: 'GET',
                //     success: function(data) {
                //         var projects = '';
                //         $.each(data, function(index, project) {
                //             projects += '<div class="bringer-block bringer-portfolio-card">';
                //             projects += '<div class="bringer-portfolio-card-image">';
                //             projects += '<img class="bringer-lazy" src="' + project.image_one + '" data-src="' + project.image_one + '" alt="" width="1200" height="1200">';
                //             projects += '</div>';
                //             projects += '<div class="bringer-portfolio-card-footer">';
                //             projects += '<div class="bringer-portfolio-card-title">';
                //             projects += '<span class="bringer-meta">' + project.category + '</span>';
                //             projects += '<h6>' + project.meta_title + '</h6>';
                //             projects += '</div>';
                //             projects += '<span class="bringer-icon bringer-icon-explore"></span>';
                //             projects += '</div>';
                //             projects += '<a href="projects/' + project.slug + '"></a>';
                //             projects += '</div><!-- .project-card -->';
                //         });
                //         $('#project-container').html(projects);
                //     },
                //     error: function(error) {
                //         console.log('Error:', error);
                //     }
                // });









                //testmonails get request Ajax call
                // $.ajax({
                //     url: "{% url 'testimonial_lists' %}",
                //     method: 'GET',
                //     success: function(data) {
                //         var testimonials = '';
                //         $.each(data, function(index, testimonial) {
                //             testimonials += '<div class="bringer-block bringer-tetimonials-card" data-appear="zoom-out" data-unload="fade-right" data-threshold="0.75">';
                //             testimonials += '<div class="bringer-tetimonials-card-descr">';
                //             testimonials += '"' + testimonial.feedback + '"';
                //             testimonials += '</div>';
                //             testimonials += '<div class="bringer-tetimonials-card-footer">';
                //             testimonials += '<div class="bringer-tetimonials-card-name">';
                //             testimonials += '<h6>' + testimonial.name + '</h6>';
                //             testimonials += '<span class="bringer-meta">' + testimonial.designation + '</span>';
                //             testimonials += '</div>';
                //             testimonials += '<div class="bringer-tetimonials-card-rate">';
                //             testimonials += '<span class="bringer-tetimonials-stars' + testimonial.rating + '"></span>';
                //             testimonials += '</div>';
                //             testimonials += '</div>';
                //             testimonials += '</div><!-- .bringer-tetimonials-card -->';
                //         });
                //         $('#testimonial-container').html(testimonials);
                //     },
                //     error: function(error) {
                //         console.log('Error:', error);
                //     }
                // });
            
        </script>



